<input type="text" id="notice" name="notice" value="<%= notice %>" hidden>

<p>
  <strong>Expenditure:</strong>
  <%= @record.expenditure %>
</p>

<p>
  <strong>Item:</strong>
  <%= @record.item %>
</p>

<%= link_to 'Edit', edit_project_item_record_path(params[:project_id], params[:item_id], @record) %> |
