<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<button type="button" class="btn btn-primary">Primary</button>
<%= link_to "Sign out", destroy_staff_session_path, :method => :delete %>
