<div class="main-wrapper">

  <h1 class="project-heading">Manage staff accounts: </h1>

  <table class="table staff-table">
    <thead>
      <th> Staff name </th>
      <th> Contract expiration Date</th>
      <th colspan="2" class="text-center"> Options </th>
    </thead>

    <tbody>
        <% @staffs.each do |staff| %>
          <tr>
            <td> <%= staff %> </td>
            <td> <%= staff.contract_expiration_date.strftime('%b' +" " +'%d' +", "+ '%Y') %> </td>
            <td class="text-center" > <%= link_to staff_registration_path(staff_id: staff), :confirm => "Are you sure?", :method => :delete do %>
              <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
            <td class="text-center" > <%= link_to make_admin_path(staff.id), method: 'patch'  do %>
              <span class="glyphicon glyphicon-arrow-up"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>

</div>
