// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// INDEX TASK STYLING

.index-items {
  thead {
    background: #1C3F94;
    color: white;
  }
}


// SHOW ITEM STYLING

.item-head {
  text-align: center;
  font-weight: lighter;
}

.item-info-row {
  text-align: center;

	h4 {
		background: #fff;
		padding: 25px 0 25px 0;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	}

  span {
    margin-left: 5px;
  }
}


.show-item-table {
  background: #1C3F94;
  color: white;
}

.progress-percentage-spent {
  background-color: #039be5  !important;
}
