// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// INDEX PROJECT STYLING

.project-box {
  height: 100px;
  background: #eeeeee;
  margin: auto;

  .ey {
    background: #1C3F94;
    // padding-left: 15px;
    height: 100px ;
  }

  .box-icon {
    margin-top: 0;
    color: white;
    text-align: center;
    padding-top: 30px;

  }

}

.box-container {
  margin-bottom: 20px;
}




// NEW PROJECT STYLING
.new-project-form {

  .btn {
  	color: white !important;
  }

}

// SHOW PROJECT STYLING

.project-profile-table {

  // width: 70% !important;

  .table-heading {
    background-color: #1C3F94;
    color: #eee;
    font-weight: bold;
  }

  td {
    width: 70%;
    text-align: center;
  }

}
