// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// INDEX PROJECT STYLING

.project-link:hover {
  .project-icon-wrapper {
    background: #1565c0;
  }
}

.index-items {
  thead tr th {
    text-align: center;
  }
}

.project-box {
  height: 100px;
  background: #fff;
  margin: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  .project-icon-wrapper {
    background: #1C3F94;
    height: 100px ;
  }

  .box-icon {
    margin-top: 0;
    color: white;
    text-align: center;
    padding-top: 30px;
  }

  .project-title a {
    color: black;
  }

  .project-title a:hover {
    background: none;
    text-decoration: none;
    color: #1C3F94;
  }

}

.box-container {
  margin-bottom: 20px;
}

// SHOW PROJECT STYLING

.project-profile-table {
  // width: 70% !important;

  .table-heading {
    background-color: #1C3F94;
    color: #eee;
    font-weight: bold;
  }

  td {
    width: 70%;
    text-align: center;
  }
}

.download-btn {
  background: #1C3F94;
  color: white !important;
}

.download-btn:hover {
  background: #1C3F94;
  color: white !important;
}

.staff-row {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;

  h4 {
    background: #1C3F94;
    padding: 10px;
    color: #fff;
    font-size: 1.1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .row {
    border-bottom: 1px solid #eee;
  }
}

.project-staff {
  overflow-y: scroll;
  height: 160px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


// PROGRESS REPORT STYLING

.date-as-of {
  font-weight: lighter;
  font-size: .1.5em;
}

.progress-report-row {
  margin-top: 25px;

  h4 {
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
}

.expenditure-per-item {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding:15px 5px 15px 5px;
}

.row-progtext {
  margin-left: 1px !important;
  margin-right: 1px !important;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background: #fff !important;

  .progtext-heading {
    font-weight: bold;
  }

  h5  {
    font-size: 1em;
  }

}

.graph-heading {
  background-color: #1C3F94 !important;
  color: #fff;
}

.row-progbar{
  padding: 0 15px 0 15px;
  margin-bottom: 12px;

  .col-md-12 {
    padding-top: 10px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  h5 {
    margin-top: 0px;
    font-weight: bold;
    font-size: 1em;
  }
}

.dl-row {
  text-align: center;
  padding-top: 15px;
}

.PDF-DL {
  color: #fff !important;
  padding: 7px;
  background: rgb(33, 150, 243);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.PDF-DL:hover {
  text-decoration: none;
  background: #1976d2 ;
  color: #fff;
}
