<!-- Start of Side-bar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <form id="search-bar">
            <div class="input-group">
            	<input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
              <span class="input-group-btn" id="basic-addon1">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search">
                  </span>
                </button>
              </span>
              </div>
          </form>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Add New Staff</a></li>
            <li><a href="">Add New Admin</a></li>
            <li><a href="">Disable User</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
<!-- End of Side-bar -->
